.cardContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.cardContainer:hover {
  transform: translateY(-5px);
}

.cardContent {
  display: flex;
}

.cardImageContainer {
  flex: 0 0 auto; /* No crecerá ni se encogerá */
  padding-right: 10px;
}

.cardImage {
  width: 80px; /* Cambiar a la anchura deseada */
  /* border-radius: 99%; */
  display: block;
}

.cardInfo {
  flex: 1; /* Crecerá para ocupar el espacio restante */
}

.cardTitle {
  font-size: 1.2em;
  margin: 0;
}

.cardItem {
  /* Tus estilos para el input */
}

.cardAlert {
  /* Estilos para la alerta */
}

/* Puedes eliminar los estilos para los botones si ya no se usan */
