<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/231cb65d-2cec-453c-80d5-4248c9432831/resourceGroups/buildy-gborderolle/providers/Microsoft.ApiManagement/service/Buildyv2api/apis/Buildyv2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/231cb65d-2cec-453c-80d5-4248c9432831/resourceGroups/buildy-gborderolle/providers/Microsoft.Web/sites/buildy-gborderolle</ResourceId>
    <ResourceGroup>buildy-gborderolle</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://buildy-gborderolle.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>633c7b83-d338-4d95-ae39-db9a4c2b78d7</ProjectGuid>
    <PublishUrl>https://buildy-gborderolle.scm.azurewebsites.net/</PublishUrl>
    <UserName>$buildy-gborderolle</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>